footer {
    .black_a {
        i {
            color: black;
        }
        a {
            color: black;
        }
    }
    .contacts {
        margin-top: 20px;
    }
    .footer_mid {
        margin-top: 20px;
        .mapouter {
            position: relative;
            text-align: right;
            height: 252px;
            width: 269px;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 252px;
            width: 269px;
        }
    }
    .footer_right {
        article {
            color: white;
        }
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        input {
            width: 50%;
        }
        button {
            height: 5vh;
        }
    }
    .home_btn {
        text-decoration: none;
        color: white;
    }
    .subs_input {
        margin-top: 20px;
    }
    width: 100%;
    height: 40vh;
    background: $background_header;

    address {
        display: flex;
        flex-direction: row;
        address:nth-child(2) {
            margin-left: 5px;
            a {
                margin-bottom: 5px;
                
            }
        }
    }

    // media
    @media(max-width: 375px) {
        height: 100vh;
    }
}

