* {

    font-family: 'Alatsi', sans-serif;
}

.home_btn {
    text-decoration: none;
    color: white;
}
.home {
    margin-top: 20px;
    text-decoration: none;
}
i {
    font-size: 30px;
}
@media (max-width: 375px) {
    i {
        font-size: 20px;
    }
}