header {
    #log_out {
        width: 50%;
    }
    h1 {
        color: rgb(255, 0, 0);
        font-size: 150px;
    }
    .log_btn {
        box-shadow: transparent;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid white;
        color: white;
        font-size: 25px;
    }
    .after_efect {
        @include effect(1s, 1s, ease);
    }
    .btn_align {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        }
        #menu_bar {
            display: none;
        }
        .menu_direction {
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                font-size: 20px;
                color: black;
                margin-top: 10px;
            }
        }
    background: $background_header;
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    
    @media (max-width: 375px) {
        h4 {
            margin-top: 0;
        }
        .log_btn {
            font-size: 15px;
        }
        .grey_btn {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        article {
            height: 50vh;
            overflow: auto;
        }
        h1 {
            text-align: center;
            font-size: 75px;
        }
        nav {
            margin-top: 10px;
        }
        button {
            margin-top: 10px;
        }
        .btn-light:focus {
            box-shadow: none;
        }
        .menu_direction {
            a {
                font-size: 16px;
            }
        }
        .btn_align {
            margin-top: 0;
        }
    }
}