#second_main {
    width: 100%;
    height: 100vh;
    background: $background_second_main;

    .home {
        margin-top: 0;
    }
    .top_align {
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .align_right {
        text-align: right;
    }
    .card-body {
        display: none;
    }
    .card-img-top {
        opacity: 0.5;
        transition-delay: 0s;
        transition-duration: 300ms;
        transition-timing-function: ease;
        &:hover {
            opacity: 1;
            transform: scale(1.2);
            z-index: 1000;
        }
    }
    .card {
        background: transparent;
        border: none;
    }
    .pages {
        display: flex;
    justify-content: center;
    }
    @media (max-width: 375px) {
        .juozas {
            display: none;
        }
    }
}