#first_main {
    width: 100%;
    height: 100vh;
    background: $background_first_main;

    .slick_mid {
        margin-top: 1rem;
    }

    @media (max-width: 375px) {
        .first_none {
            display: none;
        }
        .slick_mid {
            margin-top: 50px;
        }
    }
}