@mixin effect($delay,$duration, $property) {
        &:hover {
            transition-delay: $delay;
            transition-duration: $duration;
            transition-property: $property;
            border-bottom: 1px solid #2C3E50;

        }
}
