$background_header: linear-gradient(to bottom, #FD746C, #2C3E50);
$background_first_main: linear-gradient(to bottom, #2C3E50, #FD746C );
$background_second_main: linear-gradient(to bottom, #FD746C, #2C3E50);
$background_third_main: linear-gradient(to bottom, #2C3E50, #FD746C );
$background_footer: linear-gradient(to bottom, #FD746C, #2C3E50);
