header {
  background: -webkit-gradient(linear, left top, right top, from(#FD746C), to(#2C3E50));
  background: linear-gradient(to right, #FD746C, #2C3E50);
  height: 100vh;
  width: 100%;
  padding-top: 20px;
}

header h1 {
  color: red;
  font-size: 150px;
}

header .log_btn {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  font-size: 25px;
}

header .btn_align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  width: 100%;
  height: 40vh;
  margin-bottom: 20px;
}

header #menu_bar {
  display: none;
}

header .menu_direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu_direction a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

@media (max-width: 375px) {
  header header img {
    width: 100%;
    height: 33vh;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=header.css.map */