* {
  font-family: 'Alatsi', sans-serif;
}

.home_btn {
  text-decoration: none;
  color: white;
}

.home {
  margin-top: 20px;
  text-decoration: none;
}

i {
  font-size: 30px;
}

@media (max-width: 375px) {
  i {
    font-size: 20px;
  }
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#FD746C), to(#2C3E50));
  background: linear-gradient(to bottom, #FD746C, #2C3E50);
  height: 100vh;
  width: 100%;
  padding-top: 20px;
}

header #log_out {
  width: 50%;
}

header h1 {
  color: red;
  font-size: 150px;
}

header .log_btn {
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  font-size: 25px;
}

header .after_efect:hover {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: ease;
  transition-property: ease;
  border-bottom: 1px solid #2C3E50;
}

header .btn_align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 90px;
}

header #menu_bar {
  display: none;
}

header .menu_direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu_direction a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

@media (max-width: 375px) {
  header h4 {
    margin-top: 0;
  }
  header .log_btn {
    font-size: 15px;
  }
  header .grey_btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  header article {
    height: 50vh;
    overflow: auto;
  }
  header h1 {
    text-align: center;
    font-size: 75px;
  }
  header nav {
    margin-top: 10px;
  }
  header button {
    margin-top: 10px;
  }
  header .btn-light:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .menu_direction a {
    font-size: 16px;
  }
  header .btn_align {
    margin-top: 0;
  }
}

#first_main {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2C3E50), to(#FD746C));
  background: linear-gradient(to bottom, #2C3E50, #FD746C);
}

#first_main .slick_mid {
  margin-top: 1rem;
}

@media (max-width: 375px) {
  #first_main .first_none {
    display: none;
  }
  #first_main .slick_mid {
    margin-top: 50px;
  }
}

img {
  height: 45vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#second_main {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD746C), to(#2C3E50));
  background: linear-gradient(to bottom, #FD746C, #2C3E50);
}

#second_main .home {
  margin-top: 0;
}

#second_main .top_align {
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#second_main .align_right {
  text-align: right;
}

#second_main .card-body {
  display: none;
}

#second_main .card-img-top {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#second_main .card-img-top:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1000;
}

#second_main .card {
  background: transparent;
  border: none;
}

#second_main .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  #second_main .juozas {
    display: none;
  }
}

#third_main {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2C3E50), to(#FD746C));
  background: linear-gradient(to bottom, #2C3E50, #FD746C);
}

#third_main .home {
  text-align: right;
}

footer {
  width: 100%;
  height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD746C), to(#2C3E50));
  background: linear-gradient(to bottom, #FD746C, #2C3E50);
}

footer .black_a i {
  color: black;
}

footer .black_a a {
  color: black;
}

footer .contacts {
  margin-top: 20px;
}

footer .footer_mid {
  margin-top: 20px;
}

footer .footer_mid .mapouter {
  position: relative;
  text-align: right;
  height: 252px;
  width: 269px;
}

footer .footer_mid .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 252px;
  width: 269px;
}

footer .footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer_right article {
  color: white;
}

footer .footer_right input {
  width: 50%;
}

footer .footer_right button {
  height: 5vh;
}

footer .home_btn {
  text-decoration: none;
  color: white;
}

footer .subs_input {
  margin-top: 20px;
}

footer address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer address address:nth-child(2) {
  margin-left: 5px;
}

footer address address:nth-child(2) a {
  margin-bottom: 5px;
}

@media (max-width: 375px) {
  footer {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */